In [43]:
import pandas as pd

In [44]:
games = pd.read_csv('games.csv')
display(games.head(5))
print()
print(games.info())

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB
None

In [45]:
# Padroniza os nomes das colunas

games.columns = games.columns.str.lower().str.replace(' ', '_')
display(games.head(1)) #conferindo

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E

In [46]:
# verifica a porcentagem de valores nulos em 'year_of_release'
print(games['year_of_release'].isnull().sum() / len(games) * 100)

1.609332934489979

In [47]:
# 1. Converter 'year_of_release' para numérico
#    pd.to_numeric com errors='coerce' transformará qualquer coisa não-numérica em NaN.
games['year_of_release'] = pd.to_numeric(games['year_of_release'], errors='coerce')

# 2. Remover as linhas onde 'year_of_release' é NaN
games.dropna(subset=['year_of_release'], inplace=True)

# 3. Converter a coluna para o tipo inteiro que aceita nulos (Int64)
games['year_of_release'] = games['year_of_release'].astype('Int64')

print(games['year_of_release'].isnull().sum()) # Deve ser 0
print(games['year_of_release'].dtype) # Deve ser Int64

0
Int64

In [48]:
# 1. Remover as linhas onde 'name' é NaN
games.dropna(subset=['name'], inplace=True)
print(games['name'].isnull().sum()) # Deve ser 0

0

In [49]:
print("Porcentagem de NaN em critic_score:", games['critic_score'].isnull().sum() / len(games) * 100, "%")
print("Porcentagem de NaN em user_score:", games['user_score'].isnull().sum() / len(games) * 100, "%")
print("Porcentagem de NaN em rating:", games['rating'].isnull().sum() / len(games) * 100, "%")

Porcentagem de NaN em critic_score: 51.453417659936754 %
Porcentagem de NaN em user_score: 40.166626125030405 %
Porcentagem de NaN em rating: 40.59839455120409 %

Por se tratar de percentuais elevados os NaNs em (critic_score, user_score e rating), não vamos preencher ou remover, apenas deixar como está.

In [50]:
# 2.1 Converter 'user_score' para numérico, transformando 'tbd' e outros não-numéricos em NaN
games['user_score'] = pd.to_numeric(games['user_score'], errors='coerce')

# 2.2 Verificar o tipo de dado após a conversão
print("Tipo de dado de user_score após conversão:", games['user_score'].dtype)

Tipo de dado de user_score após conversão: float64

In [51]:
print(games.info())

<class 'pandas.core.frame.DataFrame'>
Index: 16444 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16444 non-null  object
 1   platform         16444 non-null  object
 2   year_of_release  16444 non-null  Int64
 3   genre            16444 non-null  object
 4   na_sales         16444 non-null  float64
 5   eu_sales         16444 non-null  float64
 6   jp_sales         16444 non-null  float64
 7   other_sales      16444 non-null  float64
 8   critic_score     7983 non-null   float64
 9   user_score       7463 non-null   float64
 10  rating           9768 non-null   object
dtypes: Int64(1), float64(6), object(4)
memory usage: 1.5+ MB
None

In [53]:
num_duplicatas = games.duplicated().sum()
print(f"\nNúmero de linhas duplicadas: {num_duplicatas}")

Número de linhas duplicadas: 0

In [55]:
# criar coluna 'total_sales' (com as vendas totais)
games['total_sales'] = games[['na_sales', 'eu_sales', 'jp_sales', 'other_sales']].sum(axis=1)
display(games.head()) #conferindo

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating,total_sales
0,Wii Sports,Wii,2006,Sports,41.36,28.96,3.77,8.45,76.0,8.0,E,82.54
1,Super Mario Bros.,NES,1985,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN,40.24
2,Mario Kart Wii,Wii,2008,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E,35.52
3,Wii Sports Resort,Wii,2009,Sports,15.61,10.93,3.28,2.95,80.0,8.0,E,32.77
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN,31.38